body {
    background-image: linear-gradient(rgb(255, 227, 227) 10%, rgb(47, 73, 145));
    overflow-x: hidden;
    min-height: 100vh; 
    font-family: 'Lexend', sans-serif;
}

.title {
    text-align: center;
    padding-top: 50px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;
    margin-top: 50px;
    gap: 20px;
    padding: 0 20px;
}

.text-column {
    flex: 1;
    padding: 20px;
    font-size: 33px;
    text-align: left;
}

.image-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-image {
    width: 700px; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    margin-top: 100px;
}

p {
    font-size: 2rem;
    margin-top: 60px;
    text-align: bottom;  
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: bottom;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0px;
    text-align: bottom; 
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}

.centered-text {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    clear: both;  
}


html, body {
    height: 3000px; 
    margin: 0; 
}

h6 {
    font-size: 4rem;
    margin-top: 150px; 
    margin-bottom: 0px; 
    text-align: center;
}

h5 {
    font-size: 6rem;
    margin-top: 0px;  
    margin-bottom: 0px; 
}

h3 {
    text-align: center;
    margin-top: 100px;
 
}

h4 {
    font-size: x-large;
    text-align: center;
    margin-top: 60px;  
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
}

